body{
/*    background-image: url("/background/fondo.png");
    background-repeat: repeat;
    background-size: 75%;*/
}

@media only screen and (max-width: 600px) {
    body{
        background-image: none;
    }
}