/*************************************************/

/***ENCABEZADO***/

#nav_principal{
    background-color: #27ae60;
    position: relative;
    top: 0;
    height: 40px;
    line-height: 20px;
    box-shadow: none;
}

#img_user:hover{
    cursor: pointer;
}

#user_text{
    color: white;
    position: absolute;
    top: 1px;
    left: 10px;
    border-left: 4px solid white;
    padding-left: 10px;
}


#logo_encab{
    position: relative;
    top: 10px;
    font-size: 20px;
}

#nav_menu{
    background-color: #FAFAFA;
    margin-bottom: 20px;
    height: 40px;
    padding-bottom: 5px;
    padding-left: 170px;
    box-shadow: 0px 0px 5px 0px black;
}

/*boton-normal color*/
#opc_menu_2{
    color: #A9A9A9;
    /*background: #FAFAFA;*/
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    margin-left: 5px;
    position: relative;
    top: 0px;
    float: left;
}

#opc_menu_2:hover{
    color: black;
    background: rgba(0, 0, 0, .1);
}

/*************************************************/

.icono{
    width: 19px;
}
