/*************************************************/

/***ENCABEZADO***/

#nav_principal{
    background-color: #34d477;
    position: relative;
    top: 0;
    height: 40px;
    line-height: 20px;
    box-shadow: none;
}

#img_user:hover{
    cursor: pointer;
}

#user_text{
    color: white;
    position: absolute;
    top: 1px;
    left: 10px;
    border-left: 4px solid white;
    padding-left: 10px;
}


#logo_encab{
    position: relative;
    top: 10px;
    font-size: 20px;
}

#nav_menu{
    background-color: #FAFAFA;
    margin-bottom: 20px;
    height: 40px;
    padding-bottom: 5px;
    padding-left: 170px;  
}

/*boton-normal color*/
#opc_menu_2{
    color: #A9A9A9;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    height: 42px;
    position: relative;
    top: -10px;
    margin-right: -25px;
}

#opc_menu_2:hover{
    color: black;
    background: rgba(0, 0, 0, .1);
}

.icon-a{
    width: 19px;
    position: relative;
    left: 150px;
    top: -8px;
}


.icon-b{
    width: 19px;
    position: relative;
    left: -170px;
    top: -8px;
}
/*************************************************/

.icono{
    width: 19px;
}


.options_nav{
    background: red;
    float: left;
    height: 40px;
    width: 90%;
}

#op_menu{
    background: yellow;
    height: 38px;
}