/*////////////////////FOOTER/////////////////////////*/

#footer_style_1{
    background-color: #f5f5f5;
    border-top: 2px solid #b2bec3;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    color: white;
}

#footer_style_2{
    background-color: #f5f5f5;
    border-top: 2px solid #b2bec3;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 100px;
    color: white;
}

#footer_p_1{
    float: left;
    width: 33%;
    height: 100%;
}

#footer_p_2{
    float: left;
    width: 33%;
    height: 100%;
}

#footer_p_3{
    float: left;
    width: 34%;
    height: 100%;
}

#img_foot_1{
    width: 90px;
    margin-left: 70px;
    margin-top: 5px;
}

#img_foot_2{
    width: 170px;
    margin-left: 70px;
    margin-top: 5px;
}

#img_foot_3, #img_foot_4{
    width: 175px;
    margin-left: 35px;
    margin-top: 25px;
}

#text_foot{
    color: gray;
    font-size: 18px;
    margin-bottom: -10px;
    margin-top: 9px;
    text-align: center;
}


@media only screen and (min-width: 769x) {
  /* For tablets: */
    #img_index{
        display: block;
        width: auto;
    }
    
    #container-login {
        width: 400px;
        margin-right: -120px;
    }
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  

#footer_style_1{
    background-color: #f5f5f5;
    border-top: 2px solid #b2bec3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: white;
}

#footer_style_2{
    background-color: #f5f5f5;
    border-top: 2px solid #b2bec3;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    color: white;
}

#footer_p_1{
    width: 100%;
    height: 33%;   
}

#footer_p_2{
    width: 100%;
    height: 33%;   
}

#footer_p_3{
    width: 100%;
    height: 33%;   
}

#img_foot_1{
    width: 70px;
    margin-left: 60px;
    margin-top: 5px;
}

#img_foot_2{
    width: 150px;
    margin-left: 10px;
    margin-top: -40px;
}

#img_foot_3, #img_foot_4{
    width: 138px;
    margin-left: 20px;
    margin-top: 25px;
}

#text_foot{
    color: gray;
    font-size: 15px;
    margin-bottom: -10px;
    margin-top: 9px;
    text-align: center;
}

}

