
#menu_form{
    background-color: transparent;
    width: 10%;
    position: relative;
    left: 87%;
}

#btn_form_float_menu{
    position: relative;
    left: 20%;
}


.titulonly{
    font-size: 50px;
    align-self: center;
    position: relative;
    left: 250px;
    top: -20px;
    color: black;
    font-family: 'Lobster', serif;
}


.titulohistory{
    font-size: 23px;
    align-self: center;
    color: white;
    margin: auto;
    background: red
}


.vicon{
    align-self: flex-start;
}

.header_conte{
    background-color: whitesmoke;
    display: flex;
    height: 13vh;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, #2dceff 0%, #6af57c 50% ,  #ffa561 90%  );
    border-image-slice: 1;
}

/*.contenedor_blanco{
    background: blue;
    height: auto;
}*/

#input_txt{
    background-color: #EEEEEE;
    border: 1px solid #b2bec3;
    font-size: 15px;
    height: 30px;
    width: 90%;
}

#input_msg{
    margin: -4%;
    position: relative;
    left: 20px;
    font-size: 15px;
    color: black;
}

#select_form{
    background-color: #EEEEEE;
    border: 1px solid #E0E0E0;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 30px 30px 10px;
}

#container_form_small{
    padding-top: 20px;
    background-color: #fff;
    margin-top: -5%;
    height: auto;
}

#container_form_large{
    background: white;
    padding-top: 20px;
    overflow: scroll;
    height: 300px;
    overflow-x: hidden;
}

#btn_form{
    background-color: #03A9F4;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    margin-bottom: -70px;
}

#btn_form:hover{
    background-color: #0277BD;
}

#btn_form_float{
    position: relative;
    left: 40%;
}

