.option_menu{
    display: none;
}

@media (min-width: 1281px) {
 /* for dekstop */
 
 .cont_info{
    background: whitesmoke;
    width: 350px;
    height: 200px;
    max-height: 450px;
    float: right;
    margin-top: 40px;
    margin-right: 30px; 
 } 
    
.cont_principal{
    background: whitesmoke;
    width: 600px;
    height: 500px;
    max-height: 450px;
    float: left;
    margin-top: 40px;
    margin-left: 300px; 
}

.options{
    background: white;
    width: 210px;
    height: 210px;
    float: left;
    border-radius: 500px;
    margin-top: 10px;
    margin-left: 60px;
    padding: auto;
}

.options:hover{
    border-radius: 79px 5px 76px 4px;
    cursor: pointer;
    border: 2px solid rgb(177, 177, 177);
}


.img_option{
    width: 120px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 40px;
}

.txt_option{
    color:#A9A9A9;
    position: relative;   
    font-size: 28px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

}



@media only screen and (max-width: 600px) {
  /* For mobile: */
.cont_principal{
    display:block;
    max-height:500px;
    max-width: 500px;
    overflow-y: auto;
    overflow: scroll;
    background: whitesmoke;
    width: 80%;    
    margin: auto;
    border-radius: 10px;
}

.options{
    background: white;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    padding: auto;
    margin: auto;
    margin-top: 20px;
}

.option_menu{
    display: block;
}

}