

.option_menu{
    display: none;
}

@media (min-width: 1281px) {
 /* for dekstop */
 
 /****************contenedor de perfil********/
.contenedor-perfil{
    background: white;
    height: 250px;
    width: 230px;
    position: absolute;
    left: 50px;
    margin-right: 3px;
    margin-top: 50px;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);   
}

.img_foto{
    background: rgba(0,0,0,0.10);
    width: 165px;    
    margin-left: 30px;
    margin-top: 10px;
    height: 150px;
}

.cont_name{
    background: whitesmoke;
    height: 80px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #2dceff 0%, #6af57c 50% ,  #ffa561 90%  );
    border-image-slice: 1;
}

.msg_user{
    margin-left: 10px;
    color: gray;
    font-size: 20px;
}

.user_text_nombre{
    margin-left: 10px;
    color: gray;
    font-size: 15px;
    margin-top: -5px;
}
 
 .cont_info{
    background: whitesmoke;
    width: 350px;
    height: 200px;
    max-height: 450px;
    float: right;
    margin-top: 40px;
    margin-right: 30px; 
 } 
    
.cont_principal{
    background: whitesmoke;
    width: 600px;
    height: 500px;
    max-height: 450px;
    float: left;
    margin-top: -5px;
    margin-left: 300px; 
}

.options{
    background: white;
    width: 210px;
    height: 210px;
    float: left;
    border-radius: 500px;
    margin-top: 10px;
    margin-left: 60px;
    padding: auto;
}

.options:hover{
    border-radius: 79px 5px 76px 4px;
    cursor: pointer;
    border: 2px solid rgb(177, 177, 177);
}


.img_option{
    width: 120px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 40px;
}

.txt_option{
    color:#A9A9A9;
    position: relative;   
    font-size: 28px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.contenedor_btn_apr{
    background: whitesmoke;
    border: 2px solid gray;
    width: 230px;
    height: 50px;
    text-align: center;
    position: relative;
    top: 350px;
    margin-left: 45px;
    padding-top: 10px;
}

.contenedor_btn_apr:hover{
    background: rgb(154, 220, 236);
    border: 2px solid gray;
    color: white;
}

.btn_ver_perfil{
    color: rgb(141, 141, 141);
    font-size: 20px;
}

}



@media only screen and (max-width: 600px) {
  /* For mobile: */
.cont_principal{
    display:block;
    max-height:500px;
    max-width: 500px;
    overflow-y: auto;
    overflow: scroll;
    background: whitesmoke;
    width: 80%;    
    margin: auto;
    border-radius: 10px;
}

.options{
    background: white;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    padding: auto;
    margin: auto;
    margin-top: 20px;
}

.option_menu{
    display: block;
}

}